<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBindingBehavior">
          <webHttp defaultOutgoingResponseFormat="Xml" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="119CRT.Host.119CRTService">
        <endpoint address="xml" behaviorConfiguration="WebHttpBindingBehavior"
          binding="webHttpBinding" contract="119CRT.ServiceLibrary.I119CRTServiceXml" />
        <endpoint address="json" behaviorConfiguration="WebHttpBindingBehavior"
          binding="webHttpBinding" contract="119CRT.ServiceLibrary.I119CRTServiceJson" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:11919/api" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
